.bucketContainer {}

.textContainer {}

.title {}

.subtitle {}

.imageContainer {}

.image {}

.errorMessage {
    background-color: black;
    color: red;
    margin: 0px auto;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
}